body {
  font-family: 'Roboto', sans-serif;
  line-height: 24px;
  color: #434455;
  font-size: 16px;
  background-color: #ffffff;
  min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
address {
  font-style: normal;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding: 120px 0;
}

/* #region header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.header-logo-shift {
  color: #2e2f42;
}
.menu {
  display: flex;
  gap: 40px;
}
.menu-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link.current {
  position: relative;
  color: #404bbf;
}
.menu-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.menu-link:hover,
.contacts-items-link:hover {
  color: #404bbf;
}
.menu-link:focus,
.contacts-link:focus {
  color: #404bbf;
}

.contacts {
  margin-left: auto;
}
.contacts-list {
  display: flex;
  gap: 40px;
}
.contacts-link {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion header */

/* #region hero */
.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
}
.title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 48px;
}
.button-hero {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background: #4d5ae5;
  border-radius: 4px;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-hero:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #404bbf;
}
.button-hero:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
}
/* #endregion hero */

/* #region features */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
  gap: 24px;
  flex-direction: row;
}
.features-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
}
.features-items {
  width: calc((1128px - 72px) / 4);
  flex-shrink: 0;
}
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}
/* #endregion features */

/* #region team */
.team {
  background: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}
.team-items {
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.team-items-text {
  background-color: #fff;
  padding: 32px 0;
}
.team-items:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-post {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}
.team-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.list-icons {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons {
  fill: #f4f4fd;
}
/* #endregion team */

/* #region portfolio */

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 24px;
  row-gap: 48px;
  margin: 0;
  padding: 0;
}
.portfolio-items {
  flex-basis: calc((100% - 48px) / 3);
  flex-shrink: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;
}
.portfolio-items-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-top: none;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}
.portfolio-items:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-post {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.box {
  position: relative;
  overflow: hidden;
}

.text-box {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  text-align: left;
  line-height: 1, 5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-items:hover .text-box {
  transform: translateY(0);
}

/* #endregion portfolio */

/* #region footer */

.footer {
  background: #2e2f42;
  padding: 100px 0;
}
.container-footer {
  display: flex;
  align-items: baseline;
}
.footer-part {
  margin-right: 120px;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo.shift {
  color: #f4f4fd;
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}
.social-title,
.form-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-list {
  display: flex;
  gap: 16px;
}
.icons-items {
  width: 40px;
  height: 40px;
}
.items-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.items-link:hover,
.items-link:focus {
  background-color: #31d0aa;
}
.footer-social-icons {
  fill: #f4f4fd;
}

.form-footer {
  display: flex;
  gap: 24px;
}
.form-input {
  padding: 8px 0 8px 16px;
  background-color: #2e2f42;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1, 5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: #4d5ae5;
  border: 1px solid #4d5ae5;
  cursor: pointer;
}
.icons-footer {
  fill: #fff;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-radius: 4px;
  width: 408px;
  height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
}
.modal-title {
  font-weight: 500;
  line-height: 1, 5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #e7e9fc;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  margin-top: 24px;
  margin-left: 360px;
  margin-bottom: 24px;
}
.icons-close {
  fill: #2e2f42;
}
.form-modal {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}
.input {
  position: relative;
  width: 360px;
  margin: 0 auto;
}
.field {
  display: block;
  margin: 0 auto;
  padding-left: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border: 1px solid #4d5ae5;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-bottom: 8px;
}
.icons-modal {
  position: absolute;
  top: 32px;
  left: 16px;
}
.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  /* margin-bottom: 4px; */
}
.form-area {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin: 0 auto;
}
.form-area {
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 120px;
  padding-top: 12px;
  padding-left: 16px;
}
.check-link{
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99
}
.form-check{
  display: flex;
}
/* #endregion footer */
